<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>a Bird Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        About Twitter
      </h1>
      <p class="subtitle">
        This is the <strong class="has-text-info">Twitter</strong> splash page made by
        <small>Michelle Pang</small> 
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <a class="btn btn-primary" href="/">Back</a>
      {% if user.is_authenticated %}
      <a class="btn btn-primary" href='myprofile'>profile</a>
      <a class="btn btn-primary" href='logout'>logout</a>
      {% else %}
      <a class="btn btn-primary" href='login'>login</a>
      {% endif %}
    </div>
  </section>
  </body>
</html>