<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>a Bird Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title is-2">
        <a class="has-text-info">Twitter</a>
      </h1>
      
        <div class="column is-3"></div>
        <div class="column is-6 container has-text-left">
          <div class="box content">
            <div class="content">
              <p>
                <strong>@{{tweet.author}}</strong> <small>{{tweet.time}}</small>
                <br>
                {{tweet.content}}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">  
                  
                </a>
                <a class="level-item">
                  Length: {{length}}
                </a>
                <a class="level-item" style="margin-right: 2px;">  
                  {% if tweet.hashtag_set.all.count != 0 %}
                  tags:
                  {% for tag in tweet.hashtag_set.all %}
                  <a href="{% url 'hashtag' id=tag.id%}" style="margin-left: 5px;">#{{tag.name}}</a>
                  {% endfor %}
                  {%endif %}
                </a>
              </div>
              {% if user.is_authenticated and tweet.author == user.username %}
              <a class="level-right" href="{% url 'delete' id=tweet.id%}">
                delete
              </a>
              {%endif %}
            </nav>
          </div>
        <form method="POST" action="{% url 'reply' id=tweet.id%}">
          <label class="title is-4">Reply</label>
          {% csrf_token %}
          <div class="field">
            <div class="control">
              <input class="input"style="margin-top: 10px;" name="content" placeholder="insert content here" rows="4" cols="53" />
            </div>
          </div>
          <input class="button is-info is-outlined" type="submit" value="Create Reply" style="margin-bottom: 10px;"/>
      </form>
      <form method="POST" action="{% url 'automatic_reply' id=tweet.id%}">
        <label class="title is-4">Automatic Reply</label>
        {% csrf_token %}
        <div class="field">
          <div class="control">
            <input class="input"style="margin-top: 10px;" name="first_word" placeholder="insert a word here" />
          </div>
        </div>
        <input class="button is-info is-outlined" type="submit" value="Create Automatic Reply" style="margin-bottom: 10px;"/>
      </form>
        <div class="column is-3"></div>
      </div>
      <div>

    <div class="columns">
        <div class="column is-6 container has-text-left">
          {% for reply in replies %} 
          <div class="box content">
            <div class="content">
              <div>
                {{reply.content}}
              </div>
              <nav class="level is-mobile">
                <div class="level-right">
                  <a class="level-item"> 
                    @{{reply.author}}
                  </a></div>                
              </nav>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="column is-6"></div>
    </div>
      
      <a class="btn btn-primary" href="/">Back</a>
    </div>
  </section>
  </body>
</html>




